@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


:root {
    --primary-color: hsl(35, 77%, 62%);
    --secondary-color: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --light-gray: hsl(233, 8%, 79%);
    --dark-gray: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 4rem 8rem;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 56px;
    color: var(--dark-blue);
    font-weight: 800;
}

h2 {
    font-size: 40px;
    color: var(--primary-color)
}

h3 {
    font-size: 32px;
    color: var(--light-gray)
}

h4 {
    font-size: 20px;
    color: var(--white)
}

h5 {
    font-size: 18px;
    color: var(--dark-blue)
}

p {
    color: var(--dark-gray)
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1fr;
    grid-template-areas:
        "header header header"
        "hero-img hero-img featured-posts"
        "hero-text hero-sub-text featured-posts";
    grid-gap: 1rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    grid-area: header;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 4rem;
    color: var(--dark-gray)
}

nav li:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

#hero-img {
    grid-area: hero-img;
}

#hero-img img {
    width: 100%;
    object-fit: cover;
}


#hero-text {
    grid-area: hero-text;
}

#hero-sub-text {
    grid-area: hero-sub-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-sub-text {
    line-height: 30px;
    font-size: 18px;
}

.hero-cta-btn {
    background-color: var(--secondary-color);
    padding: 20px 42px;
    border: none;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 4px;
    font-weight: 700;
}

.hero-cta-btn:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

#featured-posts {
    background-color: var(--dark-blue);
    grid-area: featured-posts;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 42px;
}

#featured-posts h2 {
    margin-bottom: 24px;
}

#featured-posts article {
    margin-bottom: 32px;
}

#featured-posts h4 {
    margin-bottom: 10px;
}

#featured-posts p {
    line-height: 25px;
    color: var(--light-gray);
}

#featured-posts h4:hover {
    color: var(--primary-color);
    cursor: pointer;
}


.divider {
    height: .5px;
    background-color: var(--dark-gray);
    width: 100%;
    margin-bottom: 24px;
}

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 84px;
    flex-wrap: wrap;
    gap: 20px
}

.blog-item {
    display: flex;
}

.blog-item img {
    height: 125px;
    width: 100px;
}

.blog-item p {
    font-size: 14px;
}

.blog-item-flex {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    width: 16rem;
}

.blog-item-flex h3 {
    margin-bottom: 8px;
}

.blog-item-flex h5 {
    margin-bottom: 14px;
}

.blog-item-flex h5:hover {
    color: var(--secondary-color);
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr .5fr .5fr 2fr;
        grid-template-areas:
            "header"
            "hero-img"
            "hero-text"
            "hero-sub-text"
            "featured-posts"
    }

    body {
        padding: 1rem;
    }

    header {
        margin-bottom: 16px;
    }

    nav ul {
        display: none;
    }

    #hero-img img {
        height: 300px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }


    h4 {
        font-size: 16px;
    }

    .hero-cta-btn {
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .blog-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}